@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box; font-size: 16px;
    text-decoration: none; list-style: none; font-family: 'Poppins', sans-serif;
}
body{
    background: var(--gray);
}
.Header{
    width: 100%; height: 120px;
    background: rgb(34,123,239);
    background: linear-gradient(0deg, rgba(34,123,239,1), rgba(122,75,255,1) 100%);
    margin-bottom: 30px; position: fixed; top: 0; z-index: 99;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 5px 10px var(--shadowblack);
}
.Header__icons{
    width: 100%; height: 30px;
    padding: 15px;
}
.Header__iconsRefresh{
    height: 35px; width: auto; margin-left: 89%;
}
.icon__Style{
    font-size: 30px; color: var(--white);
    position: absolute; right: 0; margin-right: 15px;
}
.Header__title{
    color: var(--white);
    text-align: center;
}
.Header__valueTitle{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.Header__valueTotal{
    font-size: 1.875rem;
    font-weight: normal;
}
/*-------------------------*/
input:focus ~ #amountSection2{
    background: red;
}
.Container{
    width: 100%; max-width: 600px;
    margin: auto;
}
.Container__title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.Container__item{
    margin-bottom: 20px;
}
.itemFirst:nth-child(1){
    margin-top: 150px;
}
.Item{
    width: 90%; height: 87px;
    background: var(--white);
    box-shadow: 0 5px 10px var(--shadowblack);
    margin-bottom: 10px !important;
    border-radius: 25px;
    margin: auto;
    position: relative;
}
.Item__style{
    border-radius: 10px;
    height: 65px; width: 60%;
    border: none;
    text-align: center;
    font-size: 1.375rem;
    box-shadow: 0 5px 10px var(--shadowblack);
    background: var(--white);
}
.Item__styleTxt{
    margin: 0px 3px 5px 20px;
}
.Item__price{
    width: 145px; color: var(--main);
    font-weight: 800;
    padding-top: 10px;
}
.Item__value{
    width: 75px; height: 47px; position: absolute;
    right: 0; top: 0; margin-top: 20px; margin-right: 20px; 
    color: var(--black); text-align: center;
    text-decoration: underline;
}
.Item__total{
    width: 90%; font-size: 1.3125rem;
    color: var(--txtGray);
}
input:focus{
    outline: 3px solid var(--main);
}
::placeholder{
    color: var(--black);
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
/*-----------------------*/
.Separator{
    width: 80%; margin: auto;
    padding: 10px 0px;
}
.SectionValues{
    margin-top: 40px;
}
.ItemCapsule{
    position: relative;
    margin: 20px 0px;
}
.ItemCapsule__Text{
    display: block;
    width: 90%;
    margin: auto;
    line-height: 70px;
    position: relative;
    z-index: 20;
}
.ItemCapsule__Style{
    box-shadow: 0 5px 10px var(--black);
}
.ItemCapsule__resetInput{
    width: 25px; height: 25px;
    background: var(--shadowblack);
    border-radius: 50%;
    position: absolute;
    right: 0; margin-right: 40px;
    margin-top: 20px;
    text-align: center; font-weight: 600;
    color: var(--txtClose); line-height: 25px;
    z-index: 30;
}
.ItemCapsule__subTitle{
    text-align: center; padding: 10px;
    font-weight: 600; font-size: 1.25rem;
}
.ItemCapsule__Input{
    width: 90%;
    position: absolute; top: 0;
    margin-top: 50px; margin-left: 5%;
    box-shadow: none;
}
.ItemCapsule__money{
    color: var(--gray);
    font-size: 1px;
}
#totalDiff{
    background: var(--diff);
    margin-bottom: 100px;
}
#amountCapsule4:focus{
    outline: 3px solid var(--clr-danger);
}